:root {
    /* Text colors */
--main-txt-cl: #212121;
--secondary-txt-cl: #757575;
--accent-cl: #2196F3;
    /* background-colors */
--main-bg-cl: #ffffff;
--secondary-bg-cl: #F5F4FA;
    /* Fonts */
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
    /* Icons */
--main-icon-cl: #AFB1B8;
/* Animation */
--main-anim-cfg: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* global settings */

body {
    font-family: var(--main-font), var(--secondary-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--main-bg-cl);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-item,
.benefits-list, 
.activity-list,
.teammates-list,
.address-list,
.filter-buttons,
.portfolio-list,
.social-networks,
.clients-list,
.footer-networks {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-nav {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    display: inline-block;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.logo {
    color: var(--accent-cl);
}

.header-link {
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    position: relative;
    transition: color var(--main-anim-cfg);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-cl);
}

.active {
    color: var(--accent-cl)
}

.header-link.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-cl);
    border-radius: 2px;
    position: absolute;
    bottom: -1.5%;
    left: 0;
}

.contacts {
    color: var(--secondary-txt-cl)
}

.header-link .icon {
    fill: var(--main-icon-cl);
    margin-right: 10px;
    transition: fill var(--main-anim-cfg);
}

.header-link:hover .icon-tel,
.header-link:focus .icon-tel {
    fill: var(--accent-cl)
}

.header-link:hover .icon-mail,
.header-link:focus .icon-mail {
    fill: var(--accent-cl)
}

/* Hero */

.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url(../images/bg-hero.jpg);
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-bg-cl);
    margin-left: 237px;
    margin-right: 237px;
    margin-bottom: 30px;
}

.hero-button {
    font-family: inherit;
    width: 216px;
    height: 50px;
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-cl);
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    border: none;
    transition: background-color var(--main-anim-cfg);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* Benefits */

.benefits-subject {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.benefits-list {
    display: flex;
}

.benefits-text {
    line-height: 1.71;
    color: var(--secondary-txt-cl);
    width: 270px;
}

.benefits-item {
    margin-right: 30px;
}

.benefits-item:last-child {
    margin-right: 0;
}

.icon-container {
    background-color: var(--secondary-bg-cl);
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.benefits-icon {
    width: 70px;
    height: 70px;
}

/* Activity */

.activity {
    padding-top: 0;
}

.activity-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.activity-list {
    display: flex;
}

.activity-item {
    margin-right: 30px;
    position: relative;
}

.activity-item:last-child {
    margin-right: 0;
}

.activity-overlay {
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-cl);
}


/* Teammates */

.teammates {
    background-color: var(--secondary-bg-cl);
}

.teammates-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.teammates-list{
    display: flex;

}

.teammates-item {
    background-color: var(--main-bg-cl);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.teammates-item:last-child {
    margin-right: 0;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team-position {
    color: var(--secondary-txt-cl);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.teammates-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-networks {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
}

.network-link {
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--main-bg-cl);
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color var(--main-anim-cfg);
}

.network-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-icon-cl);
    transition: fill var(--main-anim-cfg);
}

.network-link:hover,
.network-link:focus {
    background-color: var(--accent-cl);
}

.network-link:hover .network-icon,
.network-link:focus .network-icon {
    fill: var(--main-bg-cl)
}

/* Our clients */

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item {
    display: flex;
}

.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-icon-cl);
    border-radius: 4px;
    transition: border var(--main-anim-cfg);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-cl);
}

.clients-icon {
    fill: var(--main-icon-cl);
    transition: fill var(--main-anim-cfg);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-cl);
}

/* Footer */

.footer {
    background-color:#2F303A;
    padding-top: 60px;
    padding-bottom: 60px
}

.footer-logo {
    color: var(--main-bg-cl);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    display: inline-block;
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: color var(--main-anim-cfg);
}

.address-item {
    margin-top: 9px;
}

.address-item:first-child {
    margin-top: 0;
}

.address-container {
    flex-grow: 1;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-cl);
}

.address-link-position {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-bg-cl);
    font-style: normal;
    transition: color var(--main-anim-cfg);
}

.contacts-address {
    margin-top: 20px;
}

.address-link-position:hover,
.address-link-position:focus {
    color: var(--accent-cl);
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.network-txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-cl);
    margin-bottom: 20px;
}

.footer-networks {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}

.network-container {
    margin-left: 70px;
}

.footer-network-link {
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color var(--main-anim-cfg);
}

.footer-network-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-bg-cl)
}

.footer-network-link:hover,
.footer-network-link:focus {
    background-color: var(--accent-cl);
}

/* Portfolio */

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item {
    margin-right: 8px;
}

.filter-item:last-child {
    margin-right: 0;
}

.filter-btn {
    background-color: var(--secondary-bg-cl);
    color: var(--main-txt-cl);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
    letter-spacing: 0.03em;
    padding: 6px 25px;
    transition: background-color var(--main-anim-cfg), color var(--main-anim-cfg), box-shadow var(--main-anim-cfg);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-cl);
    color: var(--main-bg-cl);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current {
    background-color: var(--accent-cl);
    color: var(--main-bg-cl);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    background-color: var(--main-bg-cl);
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--main-anim-cfg);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-subject {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--main-txt-cl);
}

.portfolio-desc {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-txt-cl);
    letter-spacing: 0.03em;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-container {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-overlay {
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(100%);
    transition: transform var(--main-anim-cfg);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translatey(0);
}

.overlay-txt {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-bg-cl);
    padding: 63px 24px;
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.39, 1.03, 0.82, 0.08), visibility 250ms cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(2, 0.1) translatey(-100%);
    transition: transform 500ms cubic-bezier(0.39, 1.03, 0.82, 0.08);

}

.modal {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--main-bg-cl);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1) translatey(0);
    transition: transform 500ms cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-cl);
    cursor: pointer;
    transition: fill var(--main-anim-cfg);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--accent-cl);
}

.service-form {
    padding: 40px;
}

.service-form-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 12px;
}

.service-form-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--main-bg-cl);
    cursor: pointer;
    transition: background-color var(--main-anim-cfg);
}

.service-form-btn:hover,
.service-form-btn:focus {
    background-color: #188CE8;
}

.service-form-group {
    margin-bottom: 20px;
}

.service-form-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 7px;
}

.service-form-label {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.service-form-label:last-child {
    margin-bottom: 0;
}

.service-form-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-txt-cl);
    display: block;
    margin-bottom: 4px;
}

.service-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    transition: border-color var(--main-anim-cfg);
}

.service-form-input:focus {
    border-color: var(--accent-cl);
}

.service-form-input:focus + .service-form-icon {
    fill: var(--accent-cl);
}

.service-form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill var(--main-anim-cfg);
}

.service-form-commentary {
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    display: block;
}

.service-form-commentary:focus {
    border-color: var(--accent-cl);
}

.service-form-commentary::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.agreement-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
    user-select: none;
}

.service-form-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-cl);
}

.service-form-checkbox {
    width: 16px;
    height: 15px;
}

.agreement-icon-checked {
    opacity: 0;
    transition: opacity var(--main-anim-cfg);
}

.agreement-icon-unchecked {
    opacity: 1;
    transition: opacity var(--main-anim-cfg);
}

.service-form-checkbox:checked + .agreement-icon .agreement-icon-checked {
    opacity: 1;
}

.service-form-checkbox:checked + .agreement-icon .agreement-icon-unchecked {
    opacity: 0;
}

.subscribe-box {
    margin-left: 93px;
}

.subscribe-txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-cl);
    margin-bottom: 20px;
}

.subscribe-label {
    margin-right: 12px;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color var(--main-anim-cfg);
    color: var(--main-bg-cl);
}

.subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
    border-color: var(--accent-cl);
}

.subscribe-btn {
    width: 200px;
    height: 50px;
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--main-anim-cfg);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--main-bg-cl);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #188CE8;
}

.subscribe-icon {
    margin-left: 10px;
    fill: var(--main-bg-cl);
}